/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
    margin: 0 auto;
    max-width: 1180px;
    padding-left: 20px;
    padding-right: 20px;
}

* {
    text-decoration: none;
    box-sizing: border-box;
}

header {
    padding-top: 40px;
    background-color:#380089;
    overflow: hidden;
    height: 100vh;
}

.donut-head {
    background-color:#380089;
    width: 100%;
    overflow: hidden;
    padding-bottom: 20px;
}


.logo {
    max-width: 1190px;
    float: left;
}


nav {
  float: right;
  padding-top: 20px;
}
nav ul  {
    
}

nav ul li {
    display: inline-block;
    padding-left: 12px;
}

nav ul li a {
    color: rgba(255,255,255,.75);
}

nav .sign-in {
    background: rgba(255,255,255,.15);
    font-weight: 600px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 20px;
}

.page-banner {
    
}

.page-banner_content {
    float: left;
    width: 50%;
        margin: 50px 0 0;
}

.page-banner_content img {
    max-width: 215px;
    height: auto;
    padding-top: 20px;
}

.page-banner_image {
    float: right;
    width: 50%;
}

.page-banner_image img{
    position: absolute;
    bottom: 0;
    left: 50%;
    max-width: 50%;
}

.page-banner_content h2 {
    font-size: 5rem;
    line-height: 1.1;
    color: aliceblue;
    font-family: Bariol,Arial,sans-serif;
}

main {
    min-width: 880px;
    padding-top: 60px;
    background: #eff1f3;
    text-align: center;
}

.main-logos {
    display: flex;
    flex-wrap: wrap;
}

.main-logos_logo {
    width: 25%;
    padding: 20px 40px;
}

.main-logos_logo img {
    height: auto;
    max-width: 100%;
}

.main-networking {
    padding: 60px 0;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    background-color: white;
}

.main-networking_side1 {
    max-width: 46%;
    float: left;
    margin: 0 15px;
    box-sizing: border-box;
}

.main-networking_side1 img {
    max-width: 100%;
    height: auto;
    position: absolute;
    left: 100px;
    z-index: 1;
}

.main-networking_side1 h3 {
    margin-bottom: 20px;
    color: #380089;
    font-weight: 300;
    line-height: 1.1;
    font-size: 3.75rem;
    text-indent: -2px;
}

.main-networking_side1 p {
    font-size: 1.875rem;
    color: #380089;
    font-weight: 100;
    line-height: 1.2;
    font-family: Bariol,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
}

.main-networking_side1 a {
    margin-top: 20px;
    color: #380089;
    line-height: 1.4;
    font-size: 1.5rem;
    text-indent: -2px;
}

.side-paragraph1 {
    border-radius: 10px;
    padding: 20px;
    margin-top: 250px;
    position: relative;
    z-index: 2;
    background: #eff1f3;
}

.main-networking_side {
    max-width: 46%;
    float: right;
    margin: 0 15px;
    box-sizing: border-box;
}

.main-networking_side img {
    max-width: 100%;
    height: auto;
    position: absolute;
    right: 100px;
    z-index: 1;
}

.side-paragraph {
    border-radius: 10px;
    padding: 20px;
    margin-top: 250px;
    position: relative;
    z-index: 2;
    background: #eff1f3;
}

.main-networking_side h3 {
    margin-bottom: 20px;
    color: #380089;
    font-weight: 300;
    line-height: 1.1;
    font-size: 3.75rem;
    text-indent: -2px;
}

.main-networking_side p {
    font-size: 1.875rem;
    color: #380089;
    font-weight: 100;
    line-height: 1.2;
    font-family: Bariol,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
}

.main-networking_side a {
    margin-top: 20px;
    color: #380089;
    line-height: 1.4;
    font-size: 1.5rem;
    text-indent: -2px;
}

.main-help-us {
    overflow: hidden;
    padding: 60px 0;
    height: auto;
    background-color:white;
}

.main-help-us_quote {
    max-width: 50%;
    float: right;
}


blockquote {
        color: #380089;
    font-size: 3.75rem;
    text-indent: -16px;
    font-weight: 300;
    line-height: 1.1;
}

cite {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    display: block;
    margin-top: 20px;
    color: #8b8b8b;
}

cite strong {
    font-weight: bold;
}

.main-help-us_image {
    max-width: 50%;
    float: left;
}

.main-help-us_image img {
    display: block;
}

.us-img { 
    width: 200px;
    margin: 0 auto;
}

.prefooter {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 236px;
    background: url(//www.donut.com/wp-content/themes/bagel/img/pre-footer.svg) bottom center repeat-x transparent;
    background-size: auto 100%;
    background-color: white;
}

footer {
    padding-bottom: 40px;
    background: #eff1f3;
    overflow: hidden;
    padding-top: 40px;
}

.email {
    float: left;
    width: 33.3%;
}

.email h5{
    font-size: 1.5rem;
    line-height: 1.1;
    font-weight: 400;
    color: #380089;
    width: 300px;
    margin: 0 auto;
}

.email_1 {
    background: #fff;
    color: #380089;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 14px 10px 12px;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

.email_2 {
    background: #7f50ff;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 20px 10px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    display: block;
    width: 310px;
    margin: 0 auto;
    margin-top: 20px; 
}

.about {
    float: left;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 auto;
    width: 33.3%;
    padding-left: 70px;
}

.about li {
    margin-bottom: 20px;
    color: #380089;
    font-size: 16px;
}

.about_1 {
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    position: relative;
    bottom: 40px;
    padding-right: 40px;
}

.about_2 {
    display: inline-block;
}

.social {
    float: right;
    width: 33.333%;
}

.social li {
    display: inline-block;
    padding-right: 20px;
    color: #7f50ff;
    font-size: 20px;
}

.social h6 {
    font-size: 1.125rem;
    color: #380089;
    line-height: 1.4;
    width: 250px;
    padding-top: 20px;
}




